<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
	<mirrors>
		<mirror>
			<id>mvnrepository.com</id>
			<name>mvnrepository.com</name>
			<url>https://mvnrepository.com/artifact/</url> 
			<mirrorOf>*</mirrorOf>
		</mirror>
		<mirror>
			<id>java.net</id>
			<name>mvnrepository.com</name>
			<url>https://maven.java.net/content/repositories/public/</url>
			<mirrorOf>*</mirrorOf>
		</mirror>
		<mirror>
			<id>maven-repository.com</id>
			<name>maven-repository.com</name>
			<url>https://maven-repository.com/</url>
			<mirrorOf>*</mirrorOf>
		</mirror>
		<mirror>
			<id>alfresco</id>
			<name>alfresco</name>
			<url>https://artifacts.alfresco.com/nexus/content/repositories/public/</url>
			<mirrorOf>*</mirrorOf>
		</mirror>
	</mirrors>
</settings>